/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 02:58:56 AM
    Author     : Jake
*/

a{
    text-decoration: none;
    color: $blanco;

    &:hover{
        color: $gris;
        text-decoration: none;
    }

}
