/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 03:39:44 AM
    Author     : Jake
*/

.div-image{
    height: 100%;
    
    padding-right:em(45px);
    padding-left:em(45px);
    padding-top: em(30px);
    padding-bottom: em(30px);
    
    &.foto-pefil{
        @include backgrond-image-cover($foto-perfil);
    }
    
    &.fondo-blanco-transparente1{
        @include backgrond-image-cover($fondo-blanco-transparente1);
    }    
    &.fondo-blanco-transparente2{
        @include backgrond-image-cover($fondo-blanco-transparente2);
    }    
}

