/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 12:13:22 AM
    Author     : Jake
*/

@mixin mixin-titulos($text-size) {
    color:$blanco;
    font-size: $text-size;
    padding: em(8px) em(8px);
}